.header {
    display: flex;
    width: 100vw;
    justify-content: space-around;
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    padding: 10px;
    align-items: center;
    transition: background-color 0.5s;
}

.header.scrolled {
    background-color: #060a0f;
}



.links {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
}

.link {
    text-decoration: none;
    color: #ddd;
    margin: 0;
    text-transform: uppercase;
    animation: fadeInScale 1.5s ease-in-out;
}

li:last-child .link {
    color: #1C1B22;
    border-radius: 10px;
    padding: 10px;
    background-color: #ddd;
}
