:root {
  color-scheme: light dark;
  color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  background-color: #1C1B22;
  width: 100%;
}

.popup {
  margin-bottom: 70px;
  display: flex;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}


@keyframes slideInFromRight {
  0% {
    transform: translateX(200%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromDown {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}