.parameter-component {
    min-width: fit-content;
    min-height: 50vh;
    background-color: #1C1B22;
    overflow: auto;
    scrollbar-width: thin;
    /* For Firefox to hide the scrollbar */
    -ms-overflow-style: thin;
    /* For IE/Edge to hide the scrollbar */
    z-index: 1;
}

.parameters {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 15px 0;
    height: 12%;
    justify-content: space-around;
    align-items: center;
}


.parameters label {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    color: #ddd;
    animation: slideInFromLeft 0.7s;
}

.parameters input {
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 4px;
    border: none;
}

.parameter-table-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: calc(100% - 30px);
    min-height: calc(88% - 30px);
    margin: 15px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #18161b;

}

.parameter-table {
    animation: slideInFromLeft 0.7s;
    border-collapse: collapse;
    width: 100%;
}

.parameter-table input,
.parameter-table select {
    padding: 5px;
    border-radius: 4px;
    font-size: 14px;
    width: 90%;
    box-sizing: border-box;
    border: none;
}

.parameter-table input.multiple-parameter {
    width: 90%;
    margin: auto;
    animation: fadeInScale 0.4s ease-in-out;
}

.parameter-table input.multiple-parameter:not(:first-child),
.parameter-table td label {
    margin-top: 15px;
}


.parameter-table tbody tr {
    border-top: 2px solid white;
    animation: slideInFromLeft 0.7s;
}

.parameter-table tbody tr:first-child {
    border-top: none;
}

.parameter-table tbody tr:last-child {
    border-bottom: 2px solid #ddd;
}

.parameter-table td {
    padding: 15px 0;
}


.parameter-table th:nth-child(1) {
    min-width: 172px;
}
.parameter-table th:nth-child(2) {
    min-width: 150px;
}
.parameter-table th:nth-child(3) {
    min-width: 200px;
}
.parameter-table th,
.parameter-table td {
    color: #ddd;
    width: 100%;
    text-align: center;
}

.parameter-table th:last-child,
.parameter-table td:last-child {
    min-width: fit-content;
    text-align: center;
}

.parameter-table td label {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 30px;
    animation: fadeInScale 0.4s ease-in-out;
    place-items: center;
}

.parameter-table td label input {
    margin: 0;
    width: fit-content;
}

.delete-row-button {
    background-color: transparent;
    border: none;
    color: #ff4d4d;
    font-size: 25px;
}

.add-row-button {
    min-width: 100%;
    margin: 10px 0;
    padding: 7px;
    border: none;
    border-radius: 5px;
    animation: slideInFromDown 0.7s;
}

.add-row-button:hover {
    transform: scale(1.05);
}


button,
select {
    cursor: pointer;
}

input:focus,
select:focus {
    transition: border-color 0.3s;
    border-color: #4e90fd;
    border-radius: 4px;
    outline: none;
}

@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}


@keyframes slideInFromRight {
    0% {
        transform: translateX(200%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromDown {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}



@media screen and (max-width: 800px) {
    .parameter-component {
        min-width: 100%;
    }

    .parameter-table input,
    .parameter-table select {
        font-size: 12px;
    }

    .parameter-table th,
    .parameter-table td {

        color: #ddd;
        font-size: 12px;
        min-width: fit-content;
    }

    .parameter-table th:last-child,
    .parameter-table td:last-child {
        min-width: 35px;
        text-align: center;
    }

    .parameter-table td label {
        font-size: 12px;
    }
}