.text-component {
    width: 100%;
    min-height: 50vh;
    display: flex;
}

.text-component .text-area {
    resize: none;
    padding: 10px;
    line-height: 30px;
    font-weight: 800;
    font-size: 15px;
    width: 100%;
    height: 100%;
    overflow: auto;
    scrollbar-width: none;
    /* For Firefox to hide the scrollbar */
    -ms-overflow-style: none;
    /* For IE/Edge to hide the scrollbar */
    z-index: 1;
    border: none;
    outline: none;
}